html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background: radial-gradient(#05efea, #05d2ff);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
